# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
android/app/google-services.json

# Bubblewrap
*.keystore
*.jsk
android.keystore.b64
twa-manifest.json
manifest-checksum.txt
*.apk
*.apk.idsig
*.aab
build/
.gradle/

# Android - escludi solo file sensibili e build
android/app/build/
android/.gradle/
android/app/google-services.json
android/local.properties